@font-face {
	font-family: "Open Sans Test";
	src: url();
}

* {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1000px;
	font-size: 12px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

.flex-container {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -------------- HEADER ------------- */

header {
	z-index: 50;
}

/* MOBILE HEADER */
/* Mobile Top bar */
.top-bar-mobile {
	align-items: center;
	justify-content: space-between;
	background-color: rgb(248, 248, 248);
}

.promotion-tag i {
	padding: 1rem;
}

.promotion-tag a {
	color: rgb(11, 117, 187);
	margin-left: 10px;
}

.promotion-tag a:hover {
	text-decoration: underline;
}

.close {
	padding: 1rem;
}

/* Mobile Navbar */

/* Burger menu */
.burger-menu-container {
	position: absolute;
	height: 0.4rem;
	top: 0;
	left: 0;
	margin: 1rem 1rem;
}

.burger-menu {
	width: 100%;
	height: 100%;
}

.burger-menu::before {
	position: absolute;
	display: block;
	content: "";
	background-color: #000;
	width: 100%;
	height: 2px;
	top: 50%;
}

.burger-menu::after {
	position: absolute;
	display: block;
	content: "";
	background-color: #000;
	width: 100%;
	height: 2px;
	top: 50%;
	transform: translateY(200%);
	margin-bottom: 20px;
}

.menu-text {
	font-size: 0.4rem;
}

.nav-container-mobile {
	padding: 0 1rem;
	gap: 20px;
	align-items: center;
	justify-content: end;
	position: relative;
	height: 3rem;
}

.logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 4rem;
}

.logo img {
	width: 40px;
}

.nav-container-mobile i {
	font-size: 1.25rem;
}

/* Other things */
/* .top-section {
	max-width: 100rem;
	padding: 20px 20px;
	justify-content: space-between;
	font-size: 12px;
} */

/* .fa-magnifying-glass {
	font-size: 1.25em;
	background-color: #fff;
	padding: 10px;
	border-radius: 50%;
} */

.play-zone {
	background-color: rgb(171, 217, 255);
	padding: 5px 15px;
	border-radius: 5px;
}

.play-zone:hover {
	background-color: #fff;
}

.play-zone i {
	margin-right: 10px;
}

.sign-join {
	height: 100%;
}

.user {
	border-right: 1px solid black;
	padding: 0 20px;
	margin-right: 20px;
}

.user img,
.join img {
	margin-right: 8px;
}

/* MAIN NAV */

.main-nav-container {
	background-color: #ffcf00;
}

.main-bar {
	/* height: 4.68rem; */
	width: 100%;
	max-width: 100rem;
	align-items: center;
}

.navbar-links {
	margin: 0;
}

.nav-link {
	margin-right: 30px;
}

/* NAV CART */

/* HERO SECTION */

.section {
	max-width: 100rem;
	margin: 0px auto;
	background-color: white;
}

.hero-section {
	background-color: #fdbf0f;
	text-align: center;
}

.hero-image {
	max-width: 100%;
}

.banner-container {
	max-width: 100rem;
	position: relative;
}

.hero-text-container {
	padding: 1.2rem;
}

.banner-title {
	font-size: 1.2rem;
	font-weight: 400;
}

.banner-tagline {
	display: block;
	font-size: 0.9rem;
	line-height: 1.75rem;
	margin-top: 0.9rem;
}

.hero-banner-button {
	margin: 20px 0;
}

.banner-button {
	font-size: 0.9rem;
	padding: 0.6rem 0.9rem;
	color: #fff;
	background-color: #000;
	border-radius: 4px;
}

.banner-button:hover {
	color: white;
	background-color: black;
}

.inner-container {
	max-width: 82.5rem;
	margin: 0px auto;
}
