@font-face {
	font-family: "Open Sans Test";
	src: url();
}

*,
body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1000px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

.flex-container {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -------------- HEADER ------------- */

header {
	z-index: 50;
}

/* TOP SECTION */

.top-section {
	max-width: 100rem;
	padding: 20px 20px;
	justify-content: space-between;
	font-size: 12px;
}

.play-zone {
	background-color: rgb(171, 217, 255);
	padding: 5px 15px;
	border-radius: 5px;
}

.play-zone:hover {
	background-color: #fff;
}

.play-zone i {
	margin-right: 10px;
}

.promotion-tag a {
	color: rgb(11, 117, 187);
	margin-left: 10px;
}

.promotion-tag a:hover {
	text-decoration: underline;
}

.sign-join {
	height: 100%;
}

.user {
	border-right: 1px solid black;
	padding: 0 20px;
	margin-right: 20px;
}

.user img,
.join img {
	margin-right: 8px;
}

/* MAIN NAV */

.main-nav-container {
	background-color: #ffcf00;
}

.main-bar {
	/* height: 4.68rem; */
	width: 100%;
	max-width: 100rem;
	align-items: center;
}

.navbar-links {
	margin: 0;
}

.nav-link {
	margin-right: 30px;
}

/* NAV CART */

.fa-magnifying-glass {
	font-size: 1.25em;
	background-color: #fff;
	padding: 10px;
	border-radius: 50%;
}

/* HERO SECTION */

.section {
	max-width: 100rem;
	margin: 0px auto;
	background-color: white;
}

.hero-image {
	max-width: 100%;
}

.banner-container {
	max-width: 100rem;
	position: relative;
}

.inside-hero-banner {
	position: absolute;
	background-color: transparent;
	z-index: 1;
	padding: 0px;
	color: white;
	left: 6.8rem;
	top: 50%;
	transform: translateY(-50%);
}

.concorde-logo {
	max-width: 9rem;
	max-height: 3rem;
	object-fit: cover;
	width: auto;
	height: auto;
	margin-bottom: 0.9rem;
}

.banner-title {
	font-size: 2.5rem;
	line-height: 3.125rem;
	margin: 0px;
}

.banner-tagline {
	display: block;
	font-size: 1.125rem;
	line-height: 1.75rem;
	margin-top: 0.9rem;
}

.hero-banner-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0px -0.6rem;
}

.banner-button {
	margin-top: 1.25rem;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.6rem 0.9rem;

	width: auto;
	border: 1px solid transparent;
	border-collapse: collapse;
	color: black;
	background-color: white;
	border-radius: 4px;
	text-transform: none;
	text-decoration: none;
	margin-left: 0.6rem;
	margin-right: 0.6rem;
}

.banner-button:hover {
	color: white;
	background-color: black;
}

.inner-container {
	max-width: 82.5rem;
	margin: 0px auto;
}
