* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 8000px;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.flex-container {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-button span {
  margin-right: 0.6rem;
}

/* -------------- HEADER ------------- */
header {
  z-index: 50;
}

/* MOBILE HEADER */
/* Mobile Top bar */
.top-bar-mobile {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);
}

.promotion-tag i {
  padding: 1rem;
}
.promotion-tag a {
  color: rgb(11, 117, 187);
  margin-left: 10px;
}
.promotion-tag a:hover {
  text-decoration: underline;
}
.promotion-tag .close {
  padding: 1rem;
}

/* Mobile Navbar */
/* Burger menu */
.burger-menu-container {
  position: absolute;
  height: 0.4rem;
  top: 0;
  left: 0;
  margin: 1rem 1rem;
}

.burger-menu {
  width: 100%;
  height: 100%;
}
.burger-menu::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #000;
  width: 100%;
  height: 2px;
  top: 50%;
}
.burger-menu::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #000;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(200%);
  margin-bottom: 20px;
}

.menu-text {
  font-size: 0.4rem;
}

.nav-container-mobile {
  padding: 0 1rem;
  gap: 20px;
  align-items: center;
  justify-content: end;
  position: relative;
  height: 3rem;
}
.nav-container-mobile i {
  font-size: 1.25rem;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4rem;
}
.logo img {
  display: block;
  width: 40px;
}

/* Other things */
/* .top-section {
	max-width: 100rem;
	padding: 20px 20px;
	justify-content: space-between;
	font-size: 12px;
} */
/* .fa-magnifying-glass {
	font-size: 1.25em;
	background-color: #fff;
	padding: 10px;
	border-radius: 50%;
} */
.play-zone {
  background-color: rgb(171, 217, 255);
  padding: 5px 15px;
  border-radius: 5px;
}
.play-zone:hover {
  background-color: #fff;
}
.play-zone i {
  margin-right: 10px;
}

.sign-join {
  height: 100%;
}

.user {
  border-right: 1px solid black;
  padding: 0 20px;
  margin-right: 20px;
}

.user img,
.join img {
  margin-right: 8px;
}

/* MAIN NAV */
.main-nav-container {
  background-color: #ffcf00;
}

.main-bar {
  /* height: 4.68rem; */
  width: 100%;
  max-width: 100rem;
  align-items: center;
}

.navbar-links {
  margin: 0;
}

.nav-link {
  margin-right: 30px;
}

/* NAV CART */
/* HERO SECTION */
.section {
  max-width: 100rem;
  margin: 0px auto;
  background-color: white;
}

.hero-section {
  background-color: #fdbf0f;
  text-align: center;
}

.hero-image {
  max-width: 100%;
}

.banner-container {
  max-width: 100rem;
  position: relative;
}

.hero-text-container {
  padding: 1.2rem;
}

.banner-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.banner-tagline {
  display: block;
  font-size: 0.9rem;
  line-height: 1.75rem;
  margin-top: 0.9rem;
}

.hero-banner-button {
  margin: 20px 0;
}
.hero-banner-button .banner-button {
  font-size: 0.9rem;
  padding: 0.6rem 1.3rem;
  font-weight: 500;
  border-radius: 4px;
}

.black-button {
  color: #fff;
  background-color: #000;
}
.black-button:hover {
  color: #000;
  background-color: #fff;
}

/* Highlight section */
.quick-links ul {
  flex-wrap: wrap;
}

.product-quick-links {
  position: relative;
  font-size: 0.7rem;
  margin: 1rem 1rem;
}
.product-quick-links img {
  width: 60px;
  margin-bottom: 0.5rem;
}
.product-quick-links span {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* RECOMMENDATIONS SECTION */
.section-title {
  font-weight: 400;
  font-size: 1rem;
}

.recommendation-container {
  margin: 1rem 0;
  overflow-x: scroll;
  width: calc(100% + 1.25rem);
  transform: translateX(-1.25rem);
  padding-bottom: 2rem;
}
.recommendation-container ul li {
  flex-shrink: 0;
  width: 75%;
  margin-left: -1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.recommendation-container ul li:first-child {
  padding-left: 1.25rem;
  margin-left: 0;
}
.recommendation-container ul li:last-child {
  padding-right: 1.25rem;
}

.recommendation {
  margin-top: 5rem;
  margin-left: 1rem;
}

.card-details {
  margin-top: 0.2rem;
  flex-direction: column;
}

.favourite {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  z-index: 5;
}
.favourite i {
  background-color: rgba(221, 221, 221, 0.3529411765);
  border-radius: 50%;
  font-size: 1rem;
  padding: 0.4rem;
  color: #3473e7;
}

.card .img-area {
  border: 1px solid rgba(204, 204, 204, 0.7333333333);
  position: relative;
  height: 100%;
  display: flex;
}
.card .img-area img {
  width: 100%;
  position: absolute;
  padding: 0 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.card .img-area a {
  padding-top: 100%;
  width: 100%;
  position: relative;
}

.card-new {
  background-color: #ffcf00;
  padding: 0.2rem 0.6rem;
  position: absolute;
  bottom: 0.6rem;
  left: 0.6rem;
}

.card-title {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.4rem 0;
}

.stars img {
  width: 15px;
  height: 15px;
  margin-top: 1.5rem;
}

.card-price {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.4rem 0;
}

.card-order-button {
  background-color: #fd8024;
  width: 100%;
  padding: 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
}

img[class=two-lines] {
  margin-top: 0.35rem;
}

.help-container {
  background-color: #e6f3ff;
  padding: 0.5rem;
}
.help-container img {
  border: 3px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.help-container .help-content {
  margin: 0.3rem 0.2rem;
}
.help-container .help-content h3 {
  font-size: 0.77rem;
  line-height: 1.85;
}
.help-container .help-content p {
  margin-top: 0.2rem;
  font-size: 0.69rem;
  line-height: 2;
}
.help-container .help-content .links {
  margin-top: 0.3rem;
}
.help-container .help-content .links a {
  font-size: 0.71rem;
  margin-right: 0.9rem;
  color: #006db7;
  text-decoration: underline;
}

.halloween-hero {
  margin-top: 1.5rem;
  color: #fff;
  text-align: center;
}

.halloween-hero-container img {
  display: block;
  width: 100%;
}
.halloween-hero-container .halloween-hero-content {
  padding: 1rem;
  background-color: #492d8e;
}

.white-button {
  background-color: #fff;
  color: #000;
}
.white-button:hover {
  background-color: #000;
  color: #fff;
}

.product-carousel {
  margin-top: 2rem;
  margin-left: 1rem;
}
.product-carousel .img-area {
  border: none;
  border-bottom: 1px solid #ccc;
}
.product-carousel .img-area .card-promo-tag {
  left: 7rem;
  font-weight: 700;
  background-color: #d0021b;
  color: #fff;
  padding: 0.2rem 0.2rem;
}
.product-carousel .card-details img {
  margin-top: 0.2rem;
}
.product-carousel .card-details .price-crossed {
  display: inline;
  margin-top: 4rem;
  text-decoration: line-through;
}
.product-carousel .card-details .promo-price {
  color: #d0021b;
  font-size: 1.2rem;
  font-weight: 700;
}

.membership {
  padding: 1.25rem;
  background-color: #eaebf0;
}

.membership-container .section-title {
  font-size: 1.3rem;
}
.membership-container ul {
  margin-top: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
}
.membership-container .hero-banner-button {
  gap: 20px;
  margin-top: 3rem;
}
.membership-container .hero-banner-button a {
  font-weight: 600;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6705882353);
  color: #fff;
}
.membership-container .hero-banner-button a:last-child {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.6705882353);
  color: rgba(0, 0, 0, 0.6705882353);
}

.m-card {
  margin-bottom: 2rem;
}
.m-card .m-img img {
  width: 100%;
  display: block;
}

.membership-content {
  text-align: center;
  padding: 1.5rem;
}
.membership-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
.membership-content span {
  font-size: 0.85rem;
}

.bg-green {
  background-color: #12b53e;
}

.bg-pink {
  background-color: #f7adce;
}

.bg-yellow {
  background-color: #fed501;
}

.bg-blue {
  background-color: #00a3e7;
}

.disney-hero-container img {
  display: block;
  width: 100%;
}
.disney-hero-container .hero-banner-button {
  gap: 20px;
}

.disney-hero-content {
  text-align: center;
  padding: 1.3rem;
  background-color: rgb(0, 108, 183);
  color: #fff;
}
.disney-hero-content h3 {
  font-weight: 400;
  font-size: 1.1rem;
}
.disney-hero-content .banner-tagline {
  font-size: 0.9rem;
}

.read-about-carousel {
  margin-top: 2rem;
  margin-left: 1rem;
}

.read-card .img-area img {
  display: block;
  width: 100%;
}
.read-card .card-details {
  text-align: center;
}
.read-card .card-details h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.read-card .card-details p {
  margin-bottom: 1rem;
}

.read-more {
  font-size: 0.9rem;
  font-weight: 500;
}
.read-more span {
  margin-right: 0.4rem;
}
.read-more:hover {
  text-decoration: underline;
}

.tagline-content {
  padding: 1.25rem 0;
}
.tagline-content p {
  margin: 0 1.25rem;
  background-color: #f2f2f2;
  padding: 1.25rem 1.25rem;
}
.tagline-content p a {
  color: #006db7;
}
.tagline-content p a:hover {
  text-decoration: underline;
}

.footer-links {
  background-color: #201d48;
  color: #fff;
}

.region {
  padding: 1.25rem;
}
.region .links a {
  font-size: 0.9rem;
  display: block;
  color: inherit;
  padding: 0.6rem 0;
}
.region .links a:hover {
  text-decoration: underline;
}

.country {
  margin-bottom: 1rem;
}
.country img {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}
.country a {
  margin-bottom: 1.9rem;
  align-items: center;
  background-color: #18152d;
  color: #fff;
  padding: 0.5rem;
}
.country a span {
  margin-left: 0.5rem;
}

.email-subscription {
  padding: 0 1.25rem 1.25rem 1.25rem;
}
.email-subscription h3 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.email-subscription label {
  position: relative;
  flex-grow: 1;
}
.email-subscription label input {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 3rem;
  padding: 1rem 1.25rem 0;
}
.email-subscription label input:focus {
  outline: none;
}
.email-subscription label input:focus + span {
  top: 0.5rem;
  left: 1.3rem;
  font-size: 0.6rem;
}
.email-subscription label span {
  position: absolute;
  color: #888;
  top: 0.9rem;
  left: 1rem;
  transition: all 100ms ease-in-out;
}
.email-subscription a {
  background-color: #fd8024;
  padding: 1rem;
  border-radius: 0 5px 5px 0;
}

.button-wrapper {
  position: relative;
  width: 100%;
  border-top: 1px solid #fff;
}
.button-wrapper:last-child {
  border-bottom: 1px solid #fff;
}
.button-wrapper .dropdown-button {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.button-wrapper #dropdown-about-button:checked + label i {
  transition: transform 100ms linear;
  transform: rotate(180deg);
}
.button-wrapper #dropdown-about-button:checked ~ .dropdown-content {
  max-height: 400px;
  transition: all 100ms linear;
}
.button-wrapper #dropdown-about-button:checked ~ .dropdown-content ul {
  transform: translateY(0%);
  transition: all 100ms linear;
}
.button-wrapper #dropdown-support-button:checked + label i {
  transition: transform 100ms linear;
  transform: rotate(180deg);
}
.button-wrapper #dropdown-support-button:checked ~ .dropdown-content {
  max-height: 400px;
  transition: all 100ms linear;
}
.button-wrapper #dropdown-support-button:checked ~ .dropdown-content ul {
  transform: translateY(0%);
  transition: all 100ms linear;
}
.button-wrapper #dropdown-attractions-button:checked + label i {
  transition: transform 100ms linear;
  transform: rotate(180deg);
}
.button-wrapper #dropdown-attractions-button:checked ~ .dropdown-content {
  max-height: 200px;
  transition: all 100ms linear;
}
.button-wrapper #dropdown-attractions-button:checked ~ .dropdown-content ul {
  transform: translateY(0%);
  transition: all 100ms linear;
}
.button-wrapper #dropdown-more-button:checked + label i {
  transition: transform 100ms linear;
  transform: rotate(180deg);
}
.button-wrapper #dropdown-more-button:checked ~ .dropdown-content {
  max-height: 400px;
  transition: all 100ms linear;
}
.button-wrapper #dropdown-more-button:checked ~ .dropdown-content ul {
  transform: translateY(0%);
  transition: all 100ms linear;
}
.button-wrapper label {
  cursor: pointer;
  padding: 1.5rem;
  flex-direction: column;
}
.button-wrapper label h2 {
  justify-content: space-between;
  align-items: center;
}
.button-wrapper label h2 i {
  transition: transform 100ms linear;
}
.button-wrapper .dropdown-content {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 100ms linear;
}
.button-wrapper .dropdown-content ul {
  transform: translateY(-100%);
  transition: all 100ms linear;
}
.button-wrapper .dropdown-content li {
  padding: 1rem 1.5rem;
  border-top: 1px solid #fff;
}
.button-wrapper .dropdown-content li:last-child {
  border-bottom: 1px solid #fff;
}
.button-wrapper .dropdown-content a {
  width: 100%;
  color: inherit;
}
.button-wrapper .dropdown-content a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */